body{
    height: 96vh;
    position: relative;
}

div#calculadora{
   width:400px;
   height:600px;
   background-color: rgb(236, 159, 17);
   border-radius: 8px;
   box-shadow: 2px 2px 30px black;
   position: absolute;
   left:50%;
   top:50%;
   transform: translate(-50%,-50%);
}

div#resultado{
    width: 380px;
    height: 100px;
    background-color: black;
    margin: auto;
    margin-top:20px;
    margin-bottom: 20px;
    border-radius: 8px;
    color:white;
    font-size: 4.0em;
    text-align:right;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

button{
    width: 80px;
    height: 80px;
    background-color: black;
    color: white;
    font-size: 1.5em;
    border-radius: 8px;
    margin: 5px;
    margin-left: 8px;
    margin-right: 8px;
    border: 2px solid black;
}

button:hover{
    background-color: rgb(236, 159, 17);
    color: black;
    cursor:pointer;

}